<div *ngIf="!ready">loading models...</div>
<div *ngIf="ready">
    <mat-radio-group  #radioGroup="matRadioGroup">
        <mat-radio-button value="none" [checked]="true">[none]</mat-radio-button>
        <mat-radio-button *ngFor="let m of masks" [value]="m">
            <img src="assets/images/{{m}}">
        </mat-radio-button>
        <mat-radio-button value="user_source">
            <input type="file" accept="image/*" id="user_mask" (change)="handleMaskInput($event.target.files)">
        </mat-radio-button>
    </mat-radio-group>
    <div>
        <label style="font-weight: bold" for="myslider">Face Recognition Selectivity</label><br />
        <mat-slider style="width:50%;" #myslider min="5" max="50" step="5" value="50" (change)="blockFaces(myslider.value *.01, radioGroup.value)"></mat-slider>
    </div>
    <input type="file" accept="image/*" id="input" (change)="handleFileInput($event.target.files, myslider.value * .01, radioGroup.value)">
    <input type="button" id="download" value="download image" (click)="exportAsImage()" hidden>
    <div style="position:relative;width:98%; padding: 1%;">
    <canvas style="width:100%" id="overlay"></canvas>
    <div class="box" *ngFor="let face of faces" 
        [style.left.%]="face.box.x/canvas.width * 100" 
        [style.top.%]="face.box.y/canvas.height * 100" 
        [style.width.%]="face.box.width/canvas.width * 100" 
        [style.height.%]="face.box.height/canvas.height * 100"
        (click)="toggleSource(face, radioGroup.value)" ></div>
    </div>
    
</div>